
/*Generales*/
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

a:hover {
	text-decoration: none;
}

div {
	box-sizing: border-box;
}

.row {
	margin: 0;
}

.style_titulos_secciones {
	font-size: 2.5em;
	color: #707070;
	letter-spacing: 15px;
}

footer {
	background-color: #191313;
    color: #FFFFFF;
    padding: 4em;
}

footer p {
	font-size: 0.7em;
}

footer a {
	color: white;
}

.rrss {
	text-align: right;
    margin: 4rem 0 0 0;
    font-size: 2em;
    letter-spacing: 0.2em;
}

.copyright {
	text-align: center;
	padding: 1em 1em 0 1em!important;
}

.copyright p {
	font-size: 0.7em;
}

.email-sub {
	background: #191313;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    padding: 0 0.3em 0 0.6em;
    font-size: 0.9em;
    border: 1px solid;
}

.email-enviar {
	border-radius: 5px;
	background-color: white;
	color: black;
	font-size: 0.9em;
	border: 2px solid white;
}

.footer-links h6 {
	font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-postventa {
	background-color: #001B64;
    border: 10px solid #001B64;
    border-radius: 5px;
    font-weight: bold;
}

.titulo {
	background-image: url('../images/vd.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 22em;
	text-align: center;
}

.titulo h2 {
	position: relative;
	top: 5em;
	color: white;
	font-weight: bold;
	letter-spacing: 0.5em;
}

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: .3s ease all;
}

.overlay-active {
	visibility: visible; 
	opacity: 1;
}

.overlay  a {
	color: #707070;
}

.overlay  a:hover {
	color: blue;
}

.popup {
	background: #f8f8f8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
	color: #707070;
	border-radius: 3px;
	padding: 3em;
	opacity: 0;
	transition: .3s ease all;
}

.popup-active {
	opacity: 1;
}

/*fin generales*/

/*menu*/

.container-fluid {
	padding: 0;
}

.menu_dv, .logo_dv {
	float: left;
}

.logo {
	max-width: 70%;
}

.menu_dv li {
	float: left;
	text-decoration: none;
	list-style-type: none;
	margin-left: 2em;
	font-weight: bold;
	text-transform: uppercase;
}

.menu-principal {
	padding: 2em;
}

/*fin menu*/

/*marcas */

.marcas-single, .destacados-single {
	padding: 4em;
}

.marcas, .destacados {
	margin: 4em 0 6em 0;
}

/*fin marcas*/

/*destacados*/

.destacados h2, .marcas h2{
	text-align: center;
}

.destacado-card {
	background-color: #F1F9FF;
	padding: 1em;
}

/*fin destacados*/

/*sucursales*/


.sucursales, .contacto {
	margin: 6em;
}

.sucursales-general {
	margin-top: 5em;
}

.sucursales h1, .contacto-general h1{
	color: #707070;
	letter-spacing: 0.4em;
	margin-bottom: 1em;
}

.sucursal-card {
	padding: 0;
}

.sucursal-card-img {
	background-image: url('../images/sucursales/padre-hurtado.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 12em;
	width: 17em;
}

.sucursal-card-title {
	background-color: #1193AF;
	color: white;
	padding: 1em;
	margin-top: 10px;
	width: 17em;
}

.sucursal-card-title h6, .sucursal-card-detail p {
	font-size: 0.9em;
}

.sucursal-card-detail {
	background-color: #7DBBC8;
	color: white;
	padding: 1em;
	width: 17em;
}

/*fin sucursales*/

/*noticias */

.noticias {
	padding: 2em;
}

.noticias-single {
	border: 3px solid white;
	background-image: url('../images/sucursales/padre-hurtado.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 17em;
	padding: 0;
}

.noticias-titulo {
	position: relative;
    top: 12em;
    padding: 0.3em 2em;
    background-color: rgba(16, 132, 157, 49%);
}

.noticias-titulo h6, .noticias-titulo p {
	margin-bottom: 0;
	color: white;
}

.noticias-titulo h6 {
	font-weight: bolder;
}

.noticias-titulo p {
	font-size: 0.8em;
}

/*fin noticias*/

/*sistema*/
.sistema h4 {
	text-align: center;
}
/*fin sistema */