
/*Generales*/
body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

h1, h2, h3, h4 {
	text-transform: uppercase;
}

a:hover {
	text-decoration: none;
}

div {
	box-sizing: border-box;
}

.row {
	margin: 0;
}

.style_titulos_secciones {
	font-size: 2.5em;
	color: #707070;
	letter-spacing: 15px;
}

footer {
	background-color: #191313;
    color: #FFFFFF;
    padding: 4em;
}

footer p {
	font-size: 0.8em;
}

footer a {
	color: white;
}

.rrss {
	text-align: right;
    margin: 4rem 0 0 0;
    font-size: 2em;
    letter-spacing: 0.2em;
}

.copyright {
	text-align: center;
	padding: 1em 1em 0 1em!important;
}

.copyright p {
	font-size: 0.7em;
}

.email-sub {
	background: #191313;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
    padding: 0 0.3em 0 0.6em;
    font-size: 0.9em;
    border: 1px solid;
}

.email-enviar {
	border-radius: 5px;
	background-color: white;
	color: black;
	font-size: 0.9em;
	border: 2px solid white;
}

.footer-links h6 {
	font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5em;
}

.btn-postventa {
	background-color: #001B64;
    border: 10px solid #001B64;
    border-radius: 5px;
    font-weight: bold;
    margin: 1em 0;
}

.titulo {
	background-image: url('../images/vd.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 22em;
	text-align: center;
}

.titulo h2 {
	position: relative;
	top: 5em;
	color: white;
	font-weight: bold;
	letter-spacing: 0.5em;
}

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transition: .3s ease all;
}

.overlay-active {
	visibility: visible; 
	opacity: 1;
}

.overlay  a {
	color: #707070;
}

.overlay  a:hover {
	color: blue;
}

.popup {
	background: #f8f8f8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);
	color: #707070;
	border-radius: 3px;
	padding: 3em;
	opacity: 0;
	transition: .3s ease all;
}

.popup-active {
	opacity: 1;
}
.carousel-indicators .active {
	background-color: black;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    /*display: inline;*/
    /*float: left;*/
}

.carousel-indicators li {
	background-color: gray;
	border-radius: 100%;
    width: 10px;
    height: 10px;
}

.imagen-slider {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('../images/vd.jpg');
	height: 64vh;
}

.titulo-marcas {
	position: relative;
    top: 5em;
    color: white;
    font-weight: bold;
    letter-spacing: 0.5em;
    text-align: center;
}
.text-align {
		text-align: center;
		margin-bottom: 5em;
}
/*fin generales*/

/*menu*/

.container-fluid {
	padding: 0;
}

.menu_dv, .logo_dv {
	float: left;
}

.logo {
	max-width: 88%;
}

.menu_dv li {
	float: left;
	text-decoration: none;
	list-style-type: none;
	margin-left: 1em;
	font-weight: bold;
	text-transform: uppercase;
	font-size: small;
}

.menu-principal {
	padding: 2em;
}

/*fin menu*/

/*marcas */

.marcas-single, .destacados-single {
	padding: 4em;
}

.marcas, .destacados {
	margin: 4em 0 6em 0;
}

/*fin marcas*/

/*destacados*/

.destacados h2, .marcas h2{
	text-align: center;
}

.destacado-card {
	background-color: #F1F9FF;
	padding: 1em;
	border: 1px solid #91b4de;
    border-radius: 10px;
}

/*fin destacados*/

/*sucursales*/


.sucursales, .contacto {
	margin: 6em;
}

.sucursales-general {
	margin-top: 5em;
}

.sucursales h1, .contacto-general h1{
	color: #707070;
	letter-spacing: 0.4em;
	margin-bottom: 1em;
}

.sucursal-card {
	padding: 0;
}

.sucursal-card-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 12em;
	width: 17em;
}

.padre-hurtado {
	background-image: url('../images/sucursales/padre-hurtado.jpg');
}

.vitacura {
	background-image: url('../images/sucursales/vitacura.jpg');
}

.manuel-montt {
	background-image: url('../images/sucursales/frontis-2.jpg');
}

.irarrazabal {
	background-image: url('../images/sucursales/h-irarrazaval.jpg');
}

.p-irarrazabal {
	background-image: url('../images/sucursales/PEUGEOT-IRARRAZABAL.JPG');
}

.mall-plaza-egana {
	background-image: url('../images/sucursales/mallegaña.JPG');
}

.providencia {
	background-image: url('../images/sucursales/provi.JPG');
}

.sk-bellavista {
	background-image: url('../images/sucursales/BELLAVISTA.JPG');
}

.ford-bellavista {
	background-image: url('../images/sucursales/Ford.JPG');
}

.usados-vitacura {
	background-image: url('../images/sucursales/usados.jpg');
}

.usados-bilbao {
	background-image: url('../images/sucursales/usados_bilbao.png');
}

.autoshoping {
	background-image: url('../images/sucursales/usados_autoshopping.jpg');
}

.sucursal-card-title {
	background-color: #1193AF;
	color: white;
	padding: 1em;
	margin-top: 10px;
	width: 17em;
}

.sucursal-card-title h6, .sucursal-card-detail p {
	font-size: 0.9em;
}

.sucursal-card-detail {
	background-color: #7DBBC8;
	color: white;
	padding: 1em;
	width: 17em;
}

/*fin sucursales*/

/*modelos*/

.recomendado-card {
	padding: 1em;
	background: #f1f9ff;
	margin-bottom: 1em;
}

.recomendado-card h2 {
	font-size: 1.5em;
	font-weight: 700;
}

.recomendado-detalle {
	padding: 2em;
}

/*fin modelos*/

/*noticias */

.noticias {
	padding: 2em;
}

.noticias-single {
	border: 3px solid white;
	background-image: url('../images/sucursales/padre-hurtado.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 17em;
	padding: 0;
}

.noticias-titulo {
	position: relative;
    top: 12em;
    padding: 0.3em 2em;
    background-color: rgba(16, 132, 157, 49%);
}

.noticias-titulo h6, .noticias-titulo p {
	margin-bottom: 0;
	color: white;
}

.noticias-titulo h6 {
	font-weight: bolder;
}

.noticias-titulo p {
	font-size: 0.8em;
}

/*fin noticias*/

/*sistema*/
.sistema h4 {
	text-align: center;
}

.columna-sistema {
	padding: 0;
	margin-right: 6px;
	margin: .5em;
}

.columna-sistema input, .columna-sistema textarea, .columna-sistema select {
	font-size: .8em;
	border-radius: 25px;
}

.titulos-system {
	text-align: center;
}
.titulos-system a {
	color: #302C2C;
    letter-spacing: 1px;
}

.titulos-system li {
	float: left;
	margin: 0 .3em;

}

.titulos-system h4 {
   font-size: 1em;
}
.form-control {
	height: 2em;
	padding: .1em 1em;
}

.sistema-caja {
	border: 2px solid #7f7f7f;
    padding: 1em;
    height: 64vh;
}

.sistema-caja-gris {
	background: #bfbdbd4d;
	padding: .5em 0;
	height: 58vh;
	text-align: center;
}


.titulos-sistema-caja {
	padding: 1em;
	display: inline-block;
}

.estilo-boton-enviar {
	font-weight: bolder;
}

.btn-desabolladura {
	font-size: .6em;
	font-weight: bolder;	
	margin-top: 1em;

}

/*fin sistema */

.titulo .noticias-titulo {
text-align:left;
top:16em
}

.titulo .noticias-titulo.interior {
text-align:left;
top:15em;
text-transform:uppercase
}

.titulo .noticias-titulo.interior h2 {
top:0;
margin-bottom:0
}

.titulo .noticias-titulo.interior p {
top:0;
margin-bottom:0;
letter-spacing:.45em;
font-size:16px
}

section.detalle-noticia {
margin-top:5em;
margin-bottom:3em
}

section.detalle-noticia p {
font-size:14px
}

section.detalle-noticia .formulario-cotizacion {
margin-top:1em
}

section.detalle-noticia .box {
margin-bottom:2em;
text-transform:uppercase;
color:#726363
}

section.detalle-noticia .box h2 {
font-weight:700;
letter-spacing:.5em
}

section.detalle-noticia .box span {
letter-spacing:.45em
}

.contacto .contacto-general {
margin-bottom:2em
}

.contacto .contacto-general form .form-group {
margin-bottom:2rem
}

.contacto .contacto-general form input,.contacto .contacto-general form textarea,.contacto .contacto-general form select {
border-radius:16px;
padding:10px 15px
}

.contacto .contacto-general form select {
font-size:.8em;
-webkit-border-radius:16px
}

.contacto .contacto-general form .btn {
padding:7px 10px;
float:right;
line-height:0;
letter-spacing:1px
}

::-webkit-input-placeholder {
font-size:.8em
}

::-moz-placeholder {
font-size:.8em
}

:-ms-input-placeholder {
font-size:.8em
}

:-moz-placeholder {
font-size:.8em
}

.box-producto {
display:flex;
align-items:center;
justify-content:center
}

.galeria {
margin-top:2em
}

.img-banner {
margin:auto;
width:100%
}

.galeria img {
width:100%;
height:100%
}

.galeria .row {
margin:2em auto
}

.detalles .detalles-s {
display:-webkit-flex;
display:flex
}

.detalles .row {
margin-top:2em
}

.detalles .detalles-s div {
width:90%;
background:#f1f9ff;
padding:20px;
margin-bottom:20px
}

.detalles .detalles-s div h3 {
font-size:1em;
color:#736565;
line-height:1.5em;
text-transform:none
}

.detalles .detalles-s div p {
font-size:.9em;
color:#736565
}

.detalles .opciones .detalles-s div {
padding:0
}

.detalles .opciones .detalles-s div a {
color:#001B64;
text-align:center;
text-transform:uppercase;
width:100%;
display:inline-block;
font-style:2em;
font-weight:700;
letter-spacing:3px;
height:100%;
padding:20px
}

.detalles .opciones .detalles-s div:hover a {
background:#001B64;
color:#fff
}

.detalles .opciones:last-child .detalles-s div {
width:97%
}

.columna-sistema {
padding:2px;
margin:.5em 0
}

.buscador {
	width: 9em;
}

/* mobile*/
@media only screen and (max-width: 768px) {
	.sucursales,.contacto {
	margin:3em auto
	}

	.contacto-general h1 {
	font-size:1.5rem;
	text-align:center
	}

	.contacto .contacto-general form .btn {
	float:none;
	margin:0 auto;
	display:block
	}

	.detalles .detalles-s div,.detalles .opciones:last-child .detalles-s div {
	width:100%
	}

	.detalles .row {
	margin-top:0
	}

	.detalles .row:nth-of-type(1) {
	margin-top:2em
	}

	footer {
		padding: 1em;
	}

	.link-logo {
		max-width: 50%;
	}

	.logo {
    max-width: 100%;
	}

	.navbar-vd-principal{
		background: white;
	    position: absolute;
	    z-index: 1;
  		top: 6em;
   		padding: 8em 6em;
    	left: 0;
	}

	.menu_dv li {
		margin-left: 0;
	}

	.imagen-slider {
		height: 30vh;
	}

	.search-box {
		width: 13em;
    	margin-left: 1em;
	}

	.sistema-caja {
		margin-top: 1.5em;
		height: auto;
	}

	.destacados-single {
		padding: 0;
		margin: 4em 0;
	}

	.marcas-single {
		padding: 2em;
	}

	.destacado-texto-principal h4 {
		font-weight: 700;
		font-size: 1em;
		margin-top: 10px;
	}

	.style_titulos_secciones {
		margin-bottom: 1em;
		font-size: 1.7em;
	}

	.destacado-texto-detalle p {
		font-size: .8em;
		margin-bottom: 0;
	}

	.extencion-ultimo-col {
		height: 20em!important;
	}

	.destacado-card {
		height: 15em;
		margin-bottom: 1em;
	}

	.carousel-indicators {
		bottom: -23px;
	}

	.columna-footer-1 {
		margin-bottom: 3em;
		margin-top: 2em;
	}

	.btn-postventa {
		position: absolute;
		bottom: -13em;
	}

	.email-sub {
		width: 12em;
	}

	.columna-footer-2 {
		padding-left: 0;
	}

	.margin-ultimo-col {
		height: 19em;
	}

	.sucursales {
		margin: 0;
	}

	.sucursales h1 {
		font-size: 1.6em;
	}

	.titulo h2 {
		font-size: 1.3em;
	}

	.titulo {
		height: 14em;
	}

	.cuadros {
		box-sizing: border-box;
		width: 50%;
		height: 8em;
		float: left;
		margin: 0;
	}

	.cuadro-bajo {
		box-sizing: border-box;
		width: 100%;
		height: 8em;
		float: left;
		margin: 0;
	}

	.sucursal-card-detail p {
		font-size: .6em;
	}

	.sucursal-card {
		margin-bottom: 2em;
	}

	.noticias-single {
		margin-bottom: 1em;
	}

	.titulo-marcas {
		font-size: 1.3em;
	}
}

/*mobile-tablet*/ 

@media only screen and (max-width: 992px) {

	.titulos-system h4 {
		font-size: .8em;
	}

	.titulos-sistema-caja {
    	padding: .2em; 
	}

	.menu_dv li {
		font-size: xx-small;
	}

	.buscador-btn {
		display: none;
	}

	.destacado-texto-principal h4 {
		font-size: 1em;
    	font-weight: bold;
    	margin-top: 10px;

	}

	.destacado-texto-detalle p {
		margin: 0;
   		font-size: xx-small;
	}
	

}

/*large desktop*/
@media only screen and (max-width: 1200px) {

	

}